@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model GioHang
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/style_detail.css" />
    <link rel="stylesheet" href="~/assets/js/script_prdouct_detail.js" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .btn-hover:hover {
            background-color: #e15a5a;
        }

        .btn-hover {
            background-color: #df2e2e;
        }
    </style>
</head>
<body>
    <form method="post">
        <div class="main_container-detail" style="margin: 220px 0 100px 0;">
            <div class="grid container">
                <div class=" container_product">
                    <!-- Detail_product -->
                    <section class="product">
                        <div class="container-detail">
                            <div class="product-top ">
                                <p>
                                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" style="text-decoration:none;color:#333; font-weight: 500;">Trang chủ</a> >
                                </p>

                                <p>
                                    <a asp-area="Customer" asp-controller="SanPham" asp-action="Index" style="text-decoration:none;color:#333;font-weight: 500;">Sản phẩm</a> >
                                </p>

                                <p>
                                    <a href="#" style="color: rgb(255, 218, 145);text-decoration:none;font-weight: 500;">@ViewBag.SanPham.Name</a>
                                </p>
                            </div>

                            <div class="product-middle row">

                                <div class="product-content-left col l-6 m-6 c-12">
                                    <div class="product-content-left-big-img">
                                        <img src="@ViewBag.SanPham.ImageUrl" alt="Ảnh sách" />

                                    </div>
                                    <div class="product-content-left-small-img">

                                        <img src="@ViewBag.SanPham.ImageUrl1" alt="Ảnh sách">
                                        <img src="@ViewBag.SanPham.ImageUrl2" alt="Ảnh sách">
                                        <img src="@ViewBag.SanPham.ImageUrl3" alt="Ảnh sách">
                                        <img src="@ViewBag.SanPham.ImageUrl4" alt="Ảnh sách">
                                    </div>

                                </div>
                                <div class="product-content-ringht col l-6 m-6 c-12">
                                    <div class="product-content-ringht-product-detail">
                                        <h1 style="font-size:2.5rem;">@ViewBag.SanPham.Name <i class="fa-solid fa-tag"></i></h1>
                                        <p style="font-size:1.8rem; color: #333;">
                                            Tác giả: <span><a style="font-size:1.8rem; color: #333;" href="#">@ViewBag.SanPham.Tacgia</a></span>
                                        </p>

                                        <p><span style="font-size:1.8rem; color: #333;">Thể loại: @ViewBag.SanPham.TheLoaiLv2.Name</span></p>
                                        <span style="font-size:1.8rem; color: #333;"> Giá: <strike> @ViewBag.SanPham.Price.ToString("#,##0 đ") </strike></span>  <span style="font-size:1.8rem; color: #333; padding-left:6px;">@ViewBag.SanPham.PriceSale.ToString("#,##0 đ")</span>
                                           
                                    </div>

                                    <div class="product-content-right-product-buton">

                                        <a asp-area="Customer" asp-controller="GioHang" type="submit" asp-route-id="@ViewBag.SanPham.Id" asp-action="Insert" class="addtocart btn-hover button" style="text-decoration:none; border: 1px solid #ccc;padding: 8px 48px;font-size: 1.4rem;color: #fff;">Thêm giỏ hàng<i class="fa-solid fa-cart-shopping" style="margin-left:8px;"></i></a>
                                    </div>
                                    <div class="product-content-right-product-bottom">
                                        <div class="product-content-right-product-bottom-top">
                                            <i class="fa-solid fa-circle-down"></i>
                                        </div>
                                        <div class="product-content-right-product-bottom-big">
                                            <div class="product-content-right-product-bottom-title row-product ">
                                                <div class="product-content-right-product-bottom-title-item tacgia" id="tacgia">
                                                    <p>Tác giả: @ViewBag.SanPham.Tacgia</p>
                                                </div>

                                                <div class="product-content-right-product-bottom-title-item noidung" id="noidung">
                                                    <p>Nội dung:</p>
                                                </div>
                                            </div>
                                            <div class="product-content-right-product-bottom-content ">
                                                
                                                <div class="product-content-right-product-bottom-content-noidung" style="display:block;">
                                                    <span>
                                                        <h1> @ViewBag.SanPham.Name</h1>
                                                        @Html.Raw(ViewBag.SanPham.Decription)
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </form>
    <script>
        const bigImg = document.querySelector(".product-content-left-big-img img")
        const smallImg = document.querySelectorAll(".product-content-left-small-img img");
        smallImg.forEach(function (imgItem, x) {
            imgItem.addEventListener("click", function () {
                bigImg.src = imgItem.src;
            })
        }
        )

        const bottom = document.querySelector(".product-content-right-product-bottom-top")
        if (bottom) {
            bottom.addEventListener("click", function () {
                document.querySelector(".product-content-right-product-bottom-big").classList.toggle("active-b");
            })
        }

    </script>
   @* <script src="~/assets/js/script_prdouct_detail.js"></script>*@
</body>
</html>

