@model IEnumerable<SanPham>
@{
    ViewData["Title"] = "Home Page";
    var theLoaiLv2Ids = new HashSet<int>();
}





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .home_product-item-addcart:hover {
            background-color: #e15a5a;
        }

        .home_product-item-addcart {
            background-color: #df2e2e;
        }
        .home_product{
            padding-bottom:70px;
        }

        .tabslider_header-title {
            margin-top: 25px;
        }

        .label-title-price {
            font-size: 1.5rem;
            color: #333;
            font-weight: 500;
        }

        .search-Price {
            font-size: 1.4rem;
            color: #333;
            font-weight: 400;
            padding-bottom: 12px;
        }

        .search-Price-Input {
            padding: 8px 0;
        }

        .search-Price-btn {
            margin-left: 13px;
            margin-bottom: 16px;
        }
    </style>
</head>
<body>
    <!-- Container-->
    <div class="main_container" style="margin-top: 95px;">
        <div class="path container">
            <span>
                <a href="/Customer/Home/Index">Trang chủ </a>>
            </span>
            <span class="path_here">
                <a href="/Customer/SanPham/Index" style="color: rgb(255, 218, 145)"> Sản phẩm</a>
            </span>
        </div>
        <div class="grid container">

            <div class="row">
                <div class="container-main-category col-3">
                    <div class="Category">
                        <div class="small_Category">
                            <div class="child_category">
                                <p class="tittle_category">Tìm kiếm sách theo giá tiền</p>
                            </div>


                            <form asp-area="Customer" asp-controller="SanPham" asp-action="TimKiem" method="get">
                                <div class="form-group search-Price">
                                    <label class="label-title-price">Khoảng giá</label><br />

                                    <input type="radio" name="priceRange" value="0-50000" checked/>
                                    <span class="search-Price-Input">Dưới 50,000 VND</span><br />

                                    <input type="radio" name="priceRange" value="50000-200000" />
                                    <span class="search-Price-Input">50,000 - 200,000 VND</span><br />
                               
                                    <input type="radio" name="priceRange" value="200000-500000" />
                                    <span class="search-Price-Input">200,000 - 500,000 VND</span><br />

                                    <input type="radio" name="priceRange" value="500000" /> 
                                    <span class="search-Price-Input">Trên 500,000 VND</span><br />
                                </div>
                                <button type="submit" class="btn btn-primary search-Price-btn">Tìm kiếm</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container_main-product col-9">
                    <div class="container_product">
                        
                        @if (Model != null && Model.Any())
                        {
                            @foreach (var theLoaiId in Model.Select(sp => sp.TheLoaiLv2.TheLoaiId).Distinct())
                            {

                                var tenTheLoai = Model.FirstOrDefault(sp => sp.TheLoaiLv2?.TheLoaiId == theLoaiId);
                                if (tenTheLoai != null && tenTheLoai.TheLoaiLv2 != null)
                                {
                                    <div class="tabslider_header">
                                        <div class="tabslider_header-title">
                                            <div class="tabslider_header-title-icon">
                                                <img src="~/assets/image/icon_hoathinh.png" alt="Icon hoạt hình">
                                            </div>
                                            <span>@tenTheLoai.TheLoaiLv2.TheLoai.Name</span>
                                        </div>
                                    </div>
                                }
                                <div class="home_product">
                                    <div class="grid container text-center">
                                        <div class="row">
                                            @foreach (var item in Model.Where(sp => sp.TheLoaiLv2.TheLoaiId == theLoaiId))
                                            {
                                                <div class="home_product-list col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                                    <div class="home_product-item">
                                                        <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration:none">
                                                            <div class="home_product-item-img" style="margin-top: 65px">
                                                                <img src="@item.ImageUrl" alt="Ảnh sách" style="width:200px;height:200px;">
                                                            </div>
                                                            <h4 class="home_product-item-name">@item.Name</h4>
                                                            <div class="home_product-item-price">
                                                                <span class="home_product-item_price-old">@item.Price.ToString("#,##0 đ")</span>
                                                                <span class="home_product-item_price-current">@item.PriceSale.ToString("#,##0 đ")</span>
                                                            </div>
                                                        </a>
                                                        <div class="home_product-item-cart">
                                                            <a type="submit" class="product-item" href="/Customer/GioHang/Insert/@item.Id" style="text-decoration:none">
                                                                <span class="home_product-item-addcart" style="width: 140px;padding: 6px;border-radius: 12px;color: #fff;font-size: 1.4rem;">
                                                                    <i class="fa-solid fa-cart-shopping" style="padding: 0 4px;"></i>Thêm giỏ hàng
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                        else
                        {
                            <p class="h3 mt-2">Không có sản phẩm nào!</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>